//screen sizes
$tablet-width: 768px;
$desktop-width: 1280px;

//colors
//fonts
$font-primary: #1E293B; //main font color
$font-placeholder: #6F7682; //inputs placeholder color
$font-button-light: #FFFFFF; //font for dark buttons
$font-button-dark: #45999E; // font for light buttons also background for buttons
$font-footer: #9CD4FF; //font for footer

//backgrounds
$background-button: #D3ECED; //background for light buttons